.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

#wel1 {
  color:darkslategrey;
  padding-bottom: 1%;
}

#footer {
  padding-left: 2%;
}


#txt {
  font-size: large;
}

.notice {
  padding: 1%;
}